*{
    margin: 0px;
    padding: 0px;
    
}

body{

    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    };

.header{
   
    width: 1920px;
    height: 850px
}

.banner{
    padding: 0px 0px 0px 200px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    gap: 20px;
    background-color: rgb(248, 224, 228);
}

.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-right: 0px;
}

.banner-paragraph{
    
     color: rgba(39, 39, 39, 0.60);
     font-size: 18px;
     font-weight: 400px;
     padding-bottom: 30px;
     font-style: normal;
     line-height: 30px;
   
}

.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: white;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: none;
}

.banner-pic{
    width: 635px;
    height: 800px;
    padding-right: 150px;
}

.sale{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 0px;
    padding: 120px;
    background-color: rgb(248, 228, 231);


    /* text-align: center;
    background-color: rgb(252, 242, 242);
    display: flex;
    justify-content: space-evenly;
    align-items: center; */
}



.sale-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.sale-off{
    color: #E55473;
}

.sale-paragraph{
    text-align: center;
    font-size: 20px ;
    padding-bottom: 10px;
    color: rgba(39, 39, 39, 0.60)
}

.btn-primary{
    text-align: center;


}

#btn{
    margin-left: 200px;
}

.sale-pic{
    width: 318px;
    height: 420px;
    padding: 100px 400px 100px 1170px;
    margin-top: 0px;
    padding-right: 150px;
}


.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: white;
    display: inline-flex;
    padding: 20px 43px;
    text-align: center;
    gap: 10px;
    border: none;
}


.instagram{
   text-align: center;
   
}

.instagram-content{
    padding: 30px;
}

.instagram-title{
    color: #272727;
    text-align: center;
    padding-bottom: 10px;
    font-size: 60px;
    font-weight: 800;

}

.instagram-img

{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.instagram-paragraph{
    font-size: 20px;
}

.deals{
    background-image: url('../asset/Rectangle\ 9.png');
    width: 1440px;
    height: 449px;
    text-align: center;
    margin: 130px auto;
    
    
}

.deal-content{
    text-align: center;
    padding: 120px 530px 50px 530px;


}

.deals-title{
    font-size: 30px;
    font-weight: bold;
}

.end-content{
    
    
    height: 30vh;
    background-color: black;
    padding: 40px;
    color: white;
    text-align: center;
}

.end-text{
    color: white;
}

.end-title{
    padding-top: 20px;
    margin-top: 100px;
    color: #E55473;
    text-align: center;
    /* padding-bottom: 20px; */
    font-size: 48px;

    font-weight: 800;

}

.end-paragraph{
    
    text-align: center;
    font-size: 20px;
    margin-bottom: 0px;
}

.features{
    margin: 300px;
    text-align: center;
}

.features-content{
    padding: 10px;

}

.features-title{
    color: #272727;
    text-align: center;
    padding-top: 30px;
    font-size: 40px;

    font-weight: 800;

}

.features-paragraph{
    font-size: 19px;
}

.features-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;

}

.first{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 42px 78px;

}

.second{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 150px 78px 62px 78px;
}

.third{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 110px 78px 0px 78px;
}

.pic-name{
    display: flex;
    justify-content: center;
    gap: 300px;
}

.email{
    width: 700px;
height: 64px;
border-radius: 8px;
background: #FFF;
padding: 0px 30px;
border: none;

}

.about{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 50px;
}

.about-title{
    font-size: 90px;
    color: rgb(131, 89, 10)
    
}

.about-paragraph{
    font-size: 30px;
    margin: 20px;
}






















